<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/style.css">

</head>

<body>
    <header class="caja-cabezera">
        <h1 class="titulo-principal"> Last Cine</h1>
    </header>
    <main class="caja-main">
        <h2 class="titulo-principal">Quiénes Somos</h2>
        <section class="caja-seccion-categoria">
                <p>
                    Last Cine es un proyecto digital creado con el propósito de acercar a los usuarios al fascinante
                    mundo del cine.
                    Nuestro sistema web busca convertirse en un espacio confiable y atractivo donde los amantes del
                    séptimo arte puedan
                    encontrar información actualizada sobre estrenos, reseñas de películas clásicas, noticias relevantes
                    de la industria
                    cinematográfica y recomendaciones personalizadas. La idea nació como un emprendimiento académico y
                    cultural, con la
                    visión de fomentar el interés por el cine y ofrecer un lugar donde se pueda aprender, compartir y
                    disfrutar de este
                    arte. Además, nuestro objetivo es integrar herramientas tecnológicas modernas para que la
                    experiencia del usuario sea
                    dinámica, intuitiva y enriquecedora. Creemos que el cine es una forma de expresión que conecta
                    culturas, emociones y
                    generaciones, y por ello trabajamos para que Last Cine sea más que una página web: un espacio de
                    encuentro para todos
                    los apasionados del cine.
                </p>
                <img src="../../Asset/img/fotos/film.jpg" alt="Imagen representativa del proyecto Last Cine"
                    class="imagen-quienes-somos">


            </article>
        </section>
    </main>
    <aside class="caja-aside">
        <h4>
            Gracias por vistar nuestra pagina y de revisar nuestro contenido.
        </h4>
        <p> Esta página de películas es un espacio digital diseñado para ofrecer a los usuarios información completa y
            atractiva sobre el mundo del cine. En ella se pueden encontrar reseñas de estrenos recientes, sinopsis de
            clásicos, recomendaciones personalizadas y noticias relevantes de la industria.
        </p>
    </aside>
    <footer class="caja-footer">
        Luis David Sistemas Desarollo de aplicaciones Web 2026
    </footer>
</body>

</html>