<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/style.css">

</head>

<body>
    <header class="caja-cabezera">
        <h1 class="titulo-principal"> Last Cine</h1>
    </header>
    <main class="caja-main">
        <h2 class="titulo-principal">Explicación del Trabajo</h2>
        <section class="caja-seccion-categoria">
            <p>
                Este trabajo se realizará conforme se vayan tratando los temas de cada semana; por ello, se irán
                incorporando las partes que aún no se encuentran desarrolladas. La realización de esta actividad se
                fundamenta en lo aprendido en cada tema semanal durante las clases impartidas por el docente.

                El proyecto consiste en la creación de una página web, aplicando los conocimientos adquiridos en HTML,
                JavaScript y CSS, complementados con funcionalidades prácticas para el desarrollo, siguiendo siempre la
                guía y orientación del docente.

            </p>
            <img src="../../Asset/img/fotos/inicio.jpg" alt="Imagen representativa del proyecto Last Cine"
                class="imagen-quienes-somos">


            </article>
        </section>
    </main>
    <aside class="caja-aside">
        <h4>
            Gracias por vistar nuestra pagina y de revisar nuestro contenido.
        </h4>
        <p> Esta página de películas es un espacio digital diseñado para ofrecer a los usuarios información completa y
            atractiva sobre el mundo del cine. En ella se pueden encontrar reseñas de estrenos recientes, sinopsis de
            clásicos, recomendaciones personalizadas y noticias relevantes de la industria.
        </p>
    </aside>
    <footer class="caja-footer">
        Luis David Sistemas Desarollo de aplicaciones Web 2026
    </footer>
</body>

</html>