<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/style.css">
</head>

<body>
    <header class="caja-cabezera">
        <h1 class="titulo-principal"> Last Cine</h1>
    </header>
    <main class="caja-main">
        <h2 class="titulo-principal">Servicios: </h2>
        <section class="caja-seccion-reseñas">
            <h3 class="titulo-servicios">Reseñas</h3>
            <p>
                En Last Cine ofrecemos reseñas detalladas de películas tanto actuales como clásicas. Nuestro objetivo
                es brindar a los usuarios una visión crítica y enriquecedora que les permita comprender mejor cada obra
                cinematográfica y disfrutar de una experiencia más completa.
            </p>
        </section>

        <!-- Nueva sección de Recomendaciones -->
        <section class="caja-seccion-recomendaciones">
            <h3 class="titulo-servicios">Recomendaciones</h3>
            <p>
                También contamos con un servicio de recomendaciones personalizadas. Según tus gustos e intereses,
                te sugerimos películas que se adapten a tu estilo, ya sea que prefieras el suspenso, la comedia,
                la animación o el drama. Queremos que cada visita sea una oportunidad para descubrir nuevas historias.
            </p>
        </section>

    </main>
    <aside class="caja-aside">
        <h4>
            Gracias por vistar nuestra pagina y de revisar nuestro contenido.
        </h4>
        <p> Esta página de películas es un espacio digital diseñado para ofrecer a los usuarios información completa y
            atractiva sobre el mundo del cine. En ella se pueden encontrar reseñas de estrenos recientes, sinopsis de
            clásicos, recomendaciones personalizadas y noticias relevantes de la industria.
        </p>
    </aside>
    <footer class="caja-footer">
        Luis David Sistemas Desarollo de aplicaciones Web 2026
    </footer>
</body>

</html>