{% extends "base.html" %}

{% block title %}
Clientes - Last Cine
{% endblock %}

{% block content %}

<h2 class="mb-4">Clientes</h2>

<a href="#" class="btn btn-primary mb-3">
    Nuevo cliente
</a>

<table class="table table-striped">

    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Teléfono</th>
        </tr>
    </thead>

    <tbody>

        {% for cliente in clientes %}

        <tr>
            <td>{{ cliente.id }}</td>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.correo }}</td>
            <td>{{ cliente.telefono }}</td>
        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}