{% extends "base.html" %}

{% block title %}
Proveedores - Last Cine
{% endblock %}

{% block content %}

<h2 class="mb-4">Proveedores</h2>

<a href="#" class="btn btn-primary mb-3">
    Nuevo proveedor
</a>

<table class="table table-striped">

    <thead>
        <tr>
            <th>ID</th>
            <th>Empresa</th>
            <th>Contacto</th>
            <th>Teléfono</th>
        </tr>
    </thead>

    <tbody>

        {% for proveedor in proveedores %}

        <tr>
            <td>{{ proveedor.id }}</td>
            <td>{{ proveedor.empresa }}</td>
            <td>{{ proveedor.contacto }}</td>
            <td>{{ proveedor.telefono }}</td>
        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}